@import "compass/reset";
@import "compass/css3";
@import "compass/typography/links";
@import "compass/utilities/general/clearfix";
@import "960/grid";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

$ninesixty-columns: 16;
$ninesixty-grid-width: 1140px;

$application-blue: rgba(0,124,214,1);
$application-gray: #7f7f7f;

html {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
}

a {
	@include unstyled-link();
	@include link-colors(#6d6d6d, darken($application-blue, 20%));
	cursor: pointer;
}

header {
	@include box-shadow(#7f7f7f 0 -1px 2px inset);
	background-image: url(../images/binding_light.png);
	#header_wrapper {
		@include grid-container();
		@include clearfix();
		h1#logo {
			@include grid(6);
			font-size: 2em;
			padding: 22px 0;
		}
		nav#main {
			float: right;
			a {
				@include grid(2);
				@include single-transition(background-color, 0.3s, ease-out);
				padding: 31px 0;
				text-align: center;
				&:hover {
					background-color: rgba($application-blue, 0.6);
				}
			}
		}
	}
}

section#main {
	@include grid-container();
	@include clearfix();
	margin-top: 10px;
	margin-bottom: 10px;
}

/* Proposal, Credit */
div#proposal, div#credit {
	article {
		@include clearfix();
		margin-bottom: 10px;
		h2 {
			@include grid(5);
			@include alpha();
			text-align: right;
			margin-top: 10px;
			color: $application-blue;
			& + * {
				@include grid(11);
				@include omega();
				padding: 10px 0 10px 19px;
				border-left: 1px solid #7f7f7f;
			}
		}
	}
	article#developers {
		h2 {
			@include grid(16);
			text-align: center;
		}
		.developer {
			@include grid(7);
			@include border-radius(10px);
			@include box-shadow(#7f7f7f 0 1px 1px, rgba(lighten($application-blue, 15%), 0.3) 0 1px 1px inset);
			@include transition-property(box-shadow, background-color, color, border-color);
			@include transition-duration(0.3s);
			@include transition-timing-function(ease-out);
			background-color: rgba($application-blue, 0.3);
			color: black;
			padding: 15px 29px;
			margin: 15px;
			border: 1px solid #7f7f7f;
			text-align: center;
			&:hover {
				@include box-shadow(#7f7f7f 0 3px 3px, rgba(lighten($application-blue, 15%), 1) 0 1px 3px inset);
				background-color: rgba($application-blue, 0.8);
				color: white;
				border-color: $application-blue;
			}
		}
	}
}

/* Demo */
div#demo {
	#search {
		@include clearfix();
		margin: 10px auto;
		padding: 25px 0;
		input, button {
			@include border-radius(15px);
			font-size: 18px;
			font-weight: 400;
			padding: 5px 15px;
			border: 1px solid $application-blue;
			background-color: white;
			&:hover, &:focus {
				@include box-shadow($application-blue 0 0 3px);
				cursor: pointer;
			}
			&:active {
				@include box-shadow($application-blue 0 0 1px);
			}
		}
		#search_field {
			@include grid(9);
			@include grid-push(2);
		}
		#search_submit {
			@include grid(2);
			@include grid-push(3);
		}
	}
	.card {
		@include grid(4);
		@include border-radius(10px);
		@include box-shadow($application-gray 0 0 3px);
		@include transition-property(all);
		@include transition-duration(0.3s);
		@include transition-timing-function(ease-out);
		border: 1px solid $application-gray;
		background-color: white;
		height: 100px;
		overflow: hidden;
		margin: 5px;
		img {
			float: left;
			max-width: 100px;
		}
		h3 {
			display: inline-block;
		}
		p {
			font-size: 0.75em;
		}
		&:hover {
			@include box-shadow($application-blue 0 0 6px);
			border: 1px solid darken($application-blue, 10%);
		}
		&.drag {
			opacity: 0.4;
		}
	}
	.drawer {
		@include border-radius(10px);
		@include box-shadow($application-gray 0 0 3px);
		@include transition-property(all);
		@include transition-duration(0.3s);
		@include transition-timing-function(ease-out);
		@include scale(1/3, 1/3);
		background-color: rgba($application-blue, 0.3);
		border: 1px solid darken($application-blue, 10%);
		width: 300px;
		height: 300px;
		position: fixed;
		bottom: -150px;
		left: 50%;
		&.dragover, &:hover, &.drop {
			@include box-shadow($application-gray 0 0 30px);
			background-color: rgba($application-blue, 0.5);
			@include scale(1.0, 1.0);
			bottom: -20px;
		}
		&.drop {
			background-color: rgba($application-blue, 0.8);
		}
	}
}

.draggable, [draggable] {
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
  -khtml-user-drag: element;
  -webkit-user-drag: element;

  &.drag {
  	opacity: 0.6;
  }

  &.dragover {
		@include box-shadow($application-blue 0 0 6px);
		border: 1px solid darken($application-blue, 10%);
  }
}

.error {
	@include border-radius(25px);
	@include box-shadow(lighten(#ff6d6d, 15%) 0 0 3px);
	@include grid(6);
	@include grid-push(5);
	position: absolute;
	padding: 5px 10px;
	border: 1px solid #ff6d6d;
	color: white;
	background-color: rgba(red, 0.8);
}