#credit
	%article#developers
		%h2 developers
		%ul
			%li Andrew Kaufman
			%li Nelson Liu
	%article#tools
		%h2 tools
		%ul
			%li something that we used
	%article#webservices
		%h2 web services
		%ul
			%li= link_to "Amazon.com", "http://www.amazon.com/"