#proposal
	%article#title
		%h2 application definition statement
		%p a web app that centralizes all deal websites information, and allows users to store the information locally.
	%article#desc
		%h2 description
		%p Lorem ipsum Minim Ut culpa proident aute id fugiat ex cupidatat commodo in cupidatat ex nulla velit labore esse sed consectetur velit proident enim ad eiusmod consectetur velit ex in veniam irure.
	%article#services
		%h2 web services
		%ul
			%li Amazon Gold Box Deal
	%article#features
		%h2 features
		%ul
			%li drag & drop
			%li localStorage